@import url("./variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 500;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  /* padding: 0 5%; */
}

nav {
  width: 100%;
  height: 10rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  background-color: var(--white);
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  padding-right: 1rem;
}
.logo h1 {
  margin-left: 1rem;
}

.logo h1,
span {
  font-size: 2.2rem;
  font-weight: 600;
  
}
.logo span {
  color: var(--blue);

}
.right-part {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.links li {
  list-style-type: none;
  margin: 0 2rem;
}
.links li a {
  position: relative;
  text-decoration: none;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 1rem;
  color: var(--navy);
  font-weight: 500;
}
.links li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0.2rem;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: right;
  background-color: var(--blue);
}

.links li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.links li a:hover {
  color: var(--blue);
}
.login button {
  width: 120px;
  height: 4rem;
  border: 0.2rem solid var(--blue);
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
}
.login button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.nav-humberger {
    display: none;
    cursor: pointer;
}
.nav-humberger i {
    font-size: 3rem;
    color: var(--navy);
}

/* Hero section */
.main-content {
    padding: 0 3%;
}
.hero {
  width: 100%;
  border-radius: 4rem;
  overflow: hidden;
  background: url("../images/banners/home-banner.webp");
  background-position: center;
  background-size: cover;
  padding: 80px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cadbf3;
}
.hero .hero-title {
  width: 50%;
  padding-bottom: 4rem;
  font-weight: 900;
}
.hero .hero-title h1 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 600;
}
.hero .hero-text {
  width: 40%;
  padding-bottom: 5rem;
}
.hero .hero-text p {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--light-navy);
}

/* Hero Search  */

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.search .serv-type ul {
  display: flex;
}
.search .serv-type ul li {
  list-style-type: none;
}
.search .serv-type ul li button {
  width: 8rem;
  height: 4rem;
  font-size: 1.4rem;
  border: none;
  outline: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}
.search .serv-type ul li:first-child button {
  background-color: rgba(255, 255, 255, 0.501);
  backdrop-filter: blur(7px);
}

/* Hero inputes  */

.hero-inputs {
  padding: 2.5rem 0;
  display: flex;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.501);
  backdrop-filter: blur(7px);
}
.inp-card {
    width: 100%;
  padding: 0 2.5rem;
  border-right: 0.1rem solid var(--line);
}
.inp-card:first-child {
  padding: 0 2.5rem 0 1.2rem;
}
.inp-lebels {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--navy);
  padding-left: 1.2rem;
}
.inp-row {
  display: flex;
  align-items: center;
}
.form-control {
  width: max-content;
  margin-right: 3rem;
  border: none;
  color: var(--light-navy);
  outline: none;
}

/* style select tag  */

select.form-control option {
  padding: 1rem;
  background-color: var(--line);
  color: var(--navy);
  font-size: 1.6rem;
}

.inp-icon i {
  color: var(--light-navy);
  font-size: 1.7rem;
}
.inp-submit {
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inp-submit button {
  width: 6rem;
  height: 6rem;
  background-color: var(--blue);
  border: none;
  outline: none;
  border-radius: 1.5rem;
  cursor: pointer;
}
.inp-submit button:hover {
  background-color: var(--dark-blue);
}
.inp-submit button i {
  font-size: 1.5em;
  color: var(--white);
}

/* Our locations section  */

.our-location {
  width: 100%;
}
.loc-content {
  width: 94%;
  margin: 0 auto;
  padding: 11rem 0 8rem;
}

.loc-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.loc-heading h1 {
  width: 40%;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 600;
}
.loc-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}
.loc-card {
    width: 100%;
    height: 50rem;
  overflow: hidden;
  border-radius: 3rem;
  position: relative;
  transition: transform 0.4s ease;
  cursor: pointer;
  box-shadow: 0 0 1rem 0.5rem #0000001b;
}
.loc-card:hover {
  transform: scale(1.02);
}
.loc-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000c4, transparent);
}
.card-img {
    height: 100%;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.card-title h2 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 600;
}

/* recently added style  */

.recently-added {
  width: 100%;
  padding: 3rem 0 10rem;
}
.recent-content {
  width: 94%;
  margin: 0 auto;
}
.recent-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.recent-heading h1 {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 600;
}
.recent-heading a {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--blue);
}
.recent-heading a:hover {
  color: var(--dark-blue);
}
.recent-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
}
.recent-card {
  width: 100%;
  overflow: hidden;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0 0 0.5rem 0.5rem #3d3c3c0d;
  display: flex;
  border: 0.2rem solid var(--line);
  cursor: pointer;
  transition: transform 0.4s ease;
}
.recent-card:hover {
  box-shadow: 0 0 0.5rem 0.5rem #3d3c3c13;
  border: 0.1rem solid var(--blue);
  transform: scale(1.01);
}
.recent-pic {
  width: 16rem;
  height: 14rem;
  border-radius: 2rem;
  overflow: hidden;
  margin-right: 2rem;
}
.recent-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recent-title {
  padding-bottom: 1rem;
}
.recent-title h2 {
  font-size: 1.7rem;
  color: var(--navy);
  font-weight: 700;
}
.recent-features {
  padding-bottom: 3rem;
}
.recent-features ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recent-features ul li {
  list-style-type: none;
  font-size: 1.3rem;
  color: var(--light-navy);
}
.recent-features ul li:nth-child(2) {
  color: var(--dark-blue);
  padding: 0 0.5rem;
}
.recent-features ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recent-poster span {
  font-size: 1.3rem;
  color: var(--light-navy);
}

.recent-price {
  background-color: var(--flannel);
  padding: 0.5rem 0.8rem;
  border-radius: 0.7rem;
  font-size: 1.4rem;
  color: var(--white);
}
.recent-price span {
  font-size: 1.3rem;
  color: var(--navy);
  font-weight: 600;
}

/* contact section style  */

.contact_us {
  width: 100%;
  border-radius: 4rem;
  overflow: hidden;
  background: url("../images/banners/contact-banner.webp");
  background-position: center;
  background-size: cover;
  background-position: calc(100%);
  background-repeat: no-repeat;
  padding: 80px 5% 100px;
  display: flex;
  flex-direction: column;
  background-color: #c3dfed;
  position: relative;
  margin-bottom: 6rem;
}
.contact_us:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00000017, transparent);
}
.contact-title {
  width: 35%;
  font-size: 2.8rem;
  font-weight: 600;
  padding-bottom: 3rem;
  color: var(--navy);
}
.contact-text {
  width: 35%;
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 6rem;
  color: var(--light-navy);
}
.contact-btn {
  position: relative;
  z-index: 5;
}
.contact-btn a {
  text-decoration: none;
  padding: 1.5rem 5rem;
  background-color: var(--blue);
  border-radius: 1.5rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
}
.contact-btn a:hover {
  background-color: var(--dark-blue);
}

.footer-content {
  width: 100%;
  padding: 5rem 3% 6rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer-left-part {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 2.5rem;
  color: var(--navy);
}
.footer-bio {
  font-size: 1.5rem;
}
.social-links {
  display: flex;
}
.social-links li {
  list-style-type: none;
  margin: 7px;
}
.social-links li i {
  font-size: 2.5rem;
}
.social-links li:nth-child(1) i {
  color: #1877f2;
}
.social-links li:nth-child(2) i {
  color: #1da1f2;
}
.social-links li:nth-child(3) i {
  color: #ec3397;
}
.social-links li:nth-child(4) i {
  color: #0a66c2;
}
.footer-right-part {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 6rem;
}
.footer-heading h1 {
  padding-bottom: 2.5rem;
  color: var(--blue);
  font-size: 2rem;
}
.copyright {
  font-size: 1.5rem;
}
.page-links li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}
.page-links li a {
  list-style-type: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--navy);
  text-decoration: none;
  position: relative;
}
.page-links li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: right;
  background-color: var(--blue);
}

.page-links li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.page-links li a:hover {
  color: var(--blue);
}
.footer-heading p {
  width: 70%;
  color: var(--navy);
  padding-bottom: 2.5rem;
}

.subscribe {
  width: 100%;
  border-radius: 1.5rem;
  border: 0.2rem solid var(--flannel);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.5rem 0;
}
.footer-right-part p {
  font-size: 1.5rem;
}
.subscribe input {
  width: calc(100% - 5rem);
  height: 4rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  padding-left: 1.2rem;
}
.send-email {
  width: 4rem;
  height: 4rem;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
}
.send-email i {
    font-size: 1.6rem;
  color: var(--white);
}

/* Properties page style */

.properties-hero {
  width: 100%;
  background: url("../images/banners/properties-banner.webp");
  background-position: calc(100%);
  background-size: cover;
  padding: 26rem 0;
  border-radius: 4rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 6rem;
  background-color: #2f624b;
}
.properties-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000c3, transparent);
}
.pro-hero-title {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.pro-hero-title h1 {
  font-size: 8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  line-height: 1.1;
}
.redirect {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  animation: redirect 2s ease-in-out infinite;
  cursor: pointer;
}
@keyframes redirect {
  from {
    bottom: 4.5rem;
  }
  to {
    bottom: 3.5rem;
  }
}
.redirect i {
  font-size: 2.6rem;
  color: var(--navy);
}

/* Properties cards  */

.properties-cards {
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 4rem;
  padding-top: 30px;
  margin-bottom: 10rem;
}

.property-card {
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 0 20px 2px #00000018;
  border-radius: 1rem;
  padding: 1.8rem;
  padding-bottom: 2rem;
  cursor: pointer;
}
.property-image {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  border-radius: 1rem;
}
.property-image img {
  width: 100%;
  object-fit: cover;
}
.property-header {
  padding: 1rem 0;
}
.property-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--navy);
  border: none;
  outline: none;
}
.property-header .property-price {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue);
}
.property-desc p {
  font-size: 1.4rem;
  color: var(--navy);
}
.property-features {
  padding-top: 2rem;
}
.property-features ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.property-features ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--navy);
}
.property-features ul li span {
  font-size: 1.5rem;
  color: #454545;
}
.property-features ul li .prop-icon {
  padding-right: 0.4rem;
}
.property-features ul li .prop-icon i {
  color: #454545;
}

/* Why choose us section style */

.why-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 4rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.why-card-details {
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem 0.2rem #00000018;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.4s ease;
}

.why-card-details:hover {
  transform: scale(1.02);
}

.w-card-icon {
  width: 5rem;
  height: 5rem;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.w-card-icon i {
  font-size: 1.8rem;
  color: var(--white);
}
.why-card-details:first-child {
  background: linear-gradient(-200deg, var(--blue), #03283e);
}
.why-card-details:first-child .w-card-icon {
  background-color: #fff;
  color: var(--navy);
}
.why-card-details:first-child .w-card-icon i {
  color: var(--blue);
}
.why-card-details:first-child .w-card-title h3 {
  color: var(--white);
}
.why-card-details:first-child .w-card-desc p {
  color: var(--white);
}
.w-card-title {
  margin-bottom: 2rem;
}

.w-card-title h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--blue);
}
.w-card-desc {
  font-size: 1.4rem;
}

/* blog page style */

.blog-hero {
  width: 100%;
  background: url("../images/banners/contact-banner.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 26rem 0;
  border-radius: 4rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 6rem;
  background-color: #cadbf3;
}
.blog-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #48969f23, transparent);
}

.blog-hero-title {
  width: 60%;
  font-size: 4rem;
  color: var(--white);
  line-height: 1.2;
  position: absolute;
  top: 8rem;
  left: 5rem;
  color: var(--navy);
}

/* blog articles */

.blog-main {
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  margin-bottom: 10rem;
}
.blog-articles {
  grid-column: span 9 / span 9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
}
.blog-art-card {
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 1.2rem 0.2rem #00000008;
  background-color: #edededa1;
  cursor: pointer;
}
.blog-art-card figure {
  width: 100%;
  height: 25rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.blog-art-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-art-title {
  margin-bottom: 2rem;
}
.blog-art-title h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--navy);
}

.blog-art-desc {
  margin-bottom: 2rem;
}
.blog-art-desc {
  font-size: 1.5rem;
  color: var(--navy);
}

.blog-art-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.blog-art-bt {
  padding: 0.8rem 2rem;
  border: 0.2rem solid #d9d9d9;
  border-radius: 2rem;
  font-size: 1.5rem;
  margin-right: 2rem;
}
.blog-art-bt span {
  color: var(--light-navy);
  font-size: 1.5rem;
}

.blog-categories {
  width: 100%;
  height: max-content;
  position: sticky;
  top: 10rem;
  grid-column: span 3 / span 3;
  background-color: #f0f2f6;
  border-radius: 0.5rem;
}

.cat-heading {
  width: 100%;
  padding: 2rem 3rem;
  background-color: var(--blue);
  display: flex;
  align-items: center;
}
.cat-heading h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
}
.cat-items {
  padding: 3rem;
}

.cat-list li {
  line-height: 2.7;
  color: var(--navy);
  font-size: 1.3rem;
}
.cat-list li span {
  color: var(--navy);
  font-size: 1.7rem;
}
.cat-list li i {
  font-size: 1.7rem;
  padding-right: 1rem;
}

/* this is contact page style */

.contact-section {
  width: 100%;
  background-color: var(--blue);
  border-radius: 4rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}
.contact-title-p {
  width: 90%;
  padding-bottom: 4rem;
}
.contact-title-p h1 {
  font-size: 4rem;
  line-height: 1.3;
  color: var(--white);
}

.contact-info {
  padding-bottom: 4rem;
}

.contact-info ul li {
  line-height: 2;
  color: var(--white);
}
.contact-info ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
}
.contact-info ul li a:hover {
  color: var(--navy);
}
.contact-info ul li a span {
  font-size: 1.9rem;
}
.contact-info ul li a span:first-child {
  margin-right: 10px;
}

.contact-social ul {
  display: flex;
}
.contact-social ul li {
  margin-right: 15px;
}
.contact-social ul li a i {
  color: var(--white);
  font-size: 2.6rem;
}
.contact-social ul li a i:hover {
  color: var(--navy);
}

.contact-inputs {
  width: 100%;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 1rem;
}
.inpt-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.inpt-title h2 {
  font-size: 3rem;
  color: var(--blue);
  font-weight: 500;
}
.contact-inp-cards form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-inp-cards form input {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  background-color: #dff0f7;
  border: none;
  outline: none;
  padding-left: 2rem;
}
.contact-inp-cards form textarea {
  width: 100%;
  height: 12rem;
  margin-bottom: 1.5rem;
  background-color: #dff0f7;
  border: none;
  padding: 2rem;
  padding-top: 1.5rem;
  outline: none;
  resize: none;
}
.contact-inp-cards form button {
  width: 100%;
  height: 5rem;
  background-color: var(--blue);
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.6rem;
  cursor: pointer;
}
.contact-inp-cards form button:hover {
  background-color: var(--dark-blue);
}

/* Log in page */

.log-in-page {
  width: 100%;
  height: 100svh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}
.login-picture {
    padding: 20rem 0;
  width: 100%;
  background: url("../images/banners/signin-banner.webp");
  background-position: center;
  background-size: cover;
  background-color: var(--blue);

}
.login-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-form-c {
  width: 80%;
  background-color: #fff;
  box-shadow: 0 0 1.2rem 0.2rem #0000001c;
  padding: 4rem;
  border-radius: 1.5rem;
}

.login-title {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.login-title h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--blue);
}

.login-form-c form {
  display: flex;
  flex-direction: column;
}
.login-form-c form input[type="text"],
input[type="password"] {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  background-color: #dff0f7;
  border: none;
  outline: none;
  padding-left: 2rem;
}
.login-remeber {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.login-remeber input {
  margin-right: 0.7rem;
}
.login-form-c form button {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  background-color: var(--blue);
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.6rem;
  cursor: pointer;
}
.login-form-c form button:hover {
  background-color: var(--dark-blue);
}
.sign-up {
    font-size: 1.2rem;
}
.sign-up span{
    font-size: 1.4rem;
    color: var(--blue);
    text-decoration: underline;
}


.log-rev {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.log-rev i {
   font-size: 2rem;
   color: var(--navy);
   padding: 2rem;
}



/* ------------- responsive------------- */


@media (max-width: 900px) {
    .nav-humberger {
        display: block;
    }
    .right-part.active {
        display: flex;
    }
    .right-part {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* height: 30svh; */
        padding: 4rem 0;
        background-color: var(--blue);
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .links {
        flex-direction: column;
        margin: 0;
    }
    .links li {
        line-height: 2;
    }
    .links li a {
        color: var(--white);
    }
    .links li a:hover {
        color: var(--navy);
    }
    .login button {
        margin-top: 2rem;
        width: 120px;
        height: 4rem;
        border: 0.2rem solid var(--white);
        border-radius: 1rem;
        font-size: 1.6rem;
        background-color: transparent;
        color: var(--white);
        cursor: pointer;
      }
      .login button:hover {
        background-color: var(--navy);
        color: var(--white);
      }
}

@media (max-width: 1150px) {
    .form-control {
        margin-right: 0;
      }
      .inp-card {
        padding: 0 2rem;
      }
      .hero .hero-title {
        width: 70%;
      }
      .hero .hero-text {
        width: 50%;
      }
      /* PROPERTIES  */
      .pro-hero-title {
        width: 80%;
      }
      /* BLOGS */

      .blog-categories {
        grid-column: span 5 / span 5;
        
      }
      .blog-articles {
        grid-column: span 7 / span 7;
      }
}
@media (max-width: 1110px) {
    .hero {
        align-items: center;
        text-align: center;
    }
    .search {
        width: 60%;
    }
    .hero-inputs {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        padding: 1.5rem;
        padding-bottom: 2.5rem;
    }
    .inp-card {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 0.5rem 0;
        border: none;
    }
    .inp-card:first-child {
        padding: 0.5rem 0;
    }
    .form-control {
        margin: 0;
    }
    .inp-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 1.2rem;
    }
    .inp-submit {
        padding: 0 1.2rem;
        padding-top: 2rem;
    }
    .inp-submit button {
        width: 100%;
        height: 5rem;
        background-color: var(--blue);
        border: none;
        outline: none;
        border-radius: 1rem;
        cursor: pointer;
      }
      .contact-title {
        width: 60%;
      }
      .contact-text {
        width: 60%;
      }
      .footer-right-part {
        flex-direction: column;
      }
      .footer-left-part {
        width: 50%;
      }
}
@media (max-width: 950px){
    .search {
        width: 80%;
    }
    .hero .hero-title {
        width: 90%;
      }
      .hero .hero-text {
        width: 80%;
      }
      .loc-heading h1{
        width: 80%;
      }
      .contact_us {
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .contact-title {
        width: 80%;
      }
      .contact-text {
        width: 80%;
      }
      .footer-content {
        flex-direction: column;
      }
      .footer-left-part {
        width: 100%;
      }
      .footer-right-part {
        width: 100%;
        padding-top: 4rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
      }
      /* PROPERTIE */
      .pro-hero-title h1{
        font-size: 6rem;
      }
      /* BLOG */

      .blog-hero-title {
        width: 90%;
      }
}

@media (max-width: 800px) {
    .blog-main {
        width: 98%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 10rem;
      }
      
}
@media (max-width: 600px) {
    .hero {
        padding-bottom: 3rem;
    }
    .search {
        width: 98%;
    }
    .hero .hero-title {
        width: 98%;
      }
    .hero .hero-title h1 {
        font-size: 3.7rem;
        line-height: 1;
        font-weight: 600;
      }
      .hero .hero-text {
        width: 98%;
      }
      .loc-content {
        padding-bottom: 4rem;
      }
      .loc-heading h1{
        width: 95%;
      }
      .recent-heading h1 {
        font-size: 2.5rem;
      }
      .recent-heading a {
        font-size: 1.4rem;
      }
      .recent-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
        gap: 3rem;
      }
      .recent-card {
        padding: 1rem;
        border-radius: 1rem;
      }
      .contact-title {
        width: 90%;
      }
      .contact-text {
        width: 90%;
      }
      .footer-right-part {
        flex-direction: column;
      }
      .footer-content {
        padding-bottom: 2rem;
      }
       /* PROPERTIE */
       .pro-hero-title {
        width: 94%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
       .pro-hero-title h1{
        font-size: 4rem;
      }
      /* BLOG */
      .blog-hero {
        padding: 8rem 3rem 14rem;
      }
      .blog-hero-title {
        width: 100%;
        font-size: 3rem;
        position: static;
      }

      /* CONTACT */

      .contact-section {
        padding: 4rem 2rem;
        border-radius: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
      }
      .login-picture {
        display: none;
      }
      /* login */

      .log-in-page {
        width: 100%;
        height: 100svh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
      }
      .login-picture {
        padding: 10rem 0;
      
    }
    .log-rev {
        position: absolute;
        top: 0;
        left: 0;
    }
}















