:root {
    --navy: #110229;
    --light-navy: #43446e;
    --flannel: #8F90A6;
    --line: #DCDCEB;
    --grey: #D0D0E3;
    --white: #fff;
    --blue: #1DAEFF;
    --dark-blue: #1171a8;

    --fz-xxxs: 11px;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 25px;
    --fz-heading-y: 3rem;
    --fz-heading-x: 6rem;

    --thin: 200;
    --x-thin: 400;
    --regular: normal;
    --medium: 600;
    --bold: bold;
    --w-black: 900;

    --border-radius: 12px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    padding: 12px;
    cursor: pointer;
}
li {
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background: var(--navy);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
::-webkit-scrollbar-track-piece {
  border: none;
}